.open-menu .grid p:nth-child(odd) {
  font-weight: 600;
  color: var(--purelyBlue);
}
.open-menu p {
  font-size: 15px;
}

@media (min-width: 1500px) {
  .open-menu p {
    font-size: 25px;
    line-height: 34px;
  }
}
