/* Font impoteres her */
/* font-family: 'Open Sans', sans-serif; */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Farver defineres her */
:root {
  /* Blå */
  --purelyBlue: #2b73ca;
  /* Sand */
  --darkSand: #a4957e;
  --mediumSand: #cdc2b2;
  --lightSand: #eae3d9;
  /* Ocean dust */
  --lightOcean: #e2e6df;
  --mediumOcean: #acc0bd;
  --darkOcean: #93a5a1;
  /* Grå */
  --purelyGrey: #b0b7b6;
  /* Hvid */
  --purelyWhite: #ffffff;
  --purelyWhiteSeeThrough: rgba(255, 255, 255, 0.7);
  /* Bruges istedet for sort til typografier */
  --darkBrown: #311e02;
}

a {
  text-decoration: none;
}

h1 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 41px;
  text-transform: uppercase;
  color: var(--purelyWhite);
}

h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.04em;
  color: var(--darkBrown);
}

h3 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 34px;
  color: var(--darkBrown);
}

h4 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: var(--darkBrown);
}

h5 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: var(--darkBrown);
}

p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 27px;
  color: var(--darkBrown);
}

a {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
}

@media (min-width: 900px) {
  h1 {
    font-size: 50px;
    line-height: 68px;
  }

  h2 {
    font-size: 30px;
    line-height: 41px;
    letter-spacing: 0.04em;
  }
  h4 {
    font-size: 25px;
    line-height: 34px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 60px;
    line-height: 82px;
  }

  h2 {
    font-size: 42px;
    line-height: 56px;
  }

  h3 {
    font-size: 36px;
    line-height: 44px;
  }
  h4 {
    font-size: 32px;
    line-height: 44px;
  }

  p {
    font-size: 30px;
    line-height: 42px;
  }
}
