---
import Bestseller from "../components/Bestseller.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Heroindex from "../components/Heroindex.astro";
import Kategorier from "../components/Kategorier.astro";
import Raadogguides from "../components/Raadogguides.astro";
import Thepurelypromisebanner from "../components/Thepurelypromisebanner.astro";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="../svgfiles/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <title>Purely Professional</title>
  </head>
  <body>
    <div id="loader">
      <div class="loader-container">
        <lottie-player
          src="https://assets10.lottiefiles.com/packages/lf20_isjnfriv.json"
          background="transparent"
          speed="1"
          style="width: 300px; height: 300px;"
          loop
          autoplay></lottie-player>
      </div>
    </div>
    <div id="content" class="hidden">
      <Header />
      <Heroindex />
      <Thepurelypromisebanner />
      <Bestseller />
      <Kategorier />
      <Raadogguides />
      <Footer />
    </div>
  </body>
</html>

<style>
  .hidden {
    display: none;
  }

  #loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--mediumSand);
    z-index: 9999;
  }

  .loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>

<script>
  console.log("hej");
  window.addEventListener("load", function () {
    // Skjul loader og vis innholdet på siden
    document.getElementById("loader").style.display = "none";
    document.getElementById("content").classList.remove("hidden");
  });
</script>
