---
import Bestseller from "../components/Bestseller.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Heroindex from "../components/Heroindex.astro";
import Kategorier from "../components/Kategorier.astro";
import Raadogguides from "../components/Raadogguides.astro";
import Thepurelypromisebanner from "../components/Thepurelypromisebanner.astro";
import "../styles/style.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Purely Professionals</title>
  </head>
  <body>
    <Header />
    <Heroindex />
    <Thepurelypromisebanner />
    <Bestseller />
    <Kategorier />
    <Raadogguides />
    <Footer />
  </body>
</html>

<style>
  /* Mobile first */

  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
  }

  @media (min-width: 1200px) {
  }
</style>
