---
import "../styles/style.css";
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Refilleries</title>
	</head>
	<body>
    <Header/>
    <Hero />
    <div id="hvader">
      <h3>Hvad er det?</h3>
      <p>Refillery er et tilbud til dig, der gerne vil vise vores omverden lidt mere omtanke. Plastik er et fantastisk materiale, der kan holde rigtigt længe, og det vil vi gerne udnytte ved at tilbyde genfyldning af vores shampoo og conditioners.</p>
      </div>
      <div id="plast">
      <img src="../images/genbrugsplast-scaled-1.jpg" alt="" />   
    </div>
    <div id="hvor">
    <div id="hvadkanjeg">
      <h3>Hvad kan jeg genopylde?</h3>
    </div>
    <div id="genopfyldning">
      <div class="genopfyldning_div">
        <div class="done_div">
          <img src="../images/done.svg" alt="" />   
        </div>
        <div class="text_div">
        <h7>Shampoo 0 – </h7>
        <h6>Til krøllet hår</h6>
      </div>
      </div>
      <div class="genopfyldning_div">
        <div class="done_div">
          <img src="../images/done.svg" alt="" />   
        </div>
        <div class="text_div">
        <h7>Shampoo 1 – </h7>
        <h6>til fint og normalt hår </h6>
      </div>
      </div>
      <div class="genopfyldning_div">
        <div class="done_div">
          <img src="../images/done.svg" alt="" />   
        </div>
        <div class="text_div">
        <h7>Shampoo 2 –  </h7>
        <h6>Dybtrensende </h6>
      </div>
      </div>
      <div class="genopfyldning_div">
        <div class="done_div">
          <img src="../images/done.svg" alt="" />   
        </div>
        <div class="text_div">
        <h7>Shampoo 4 –   </h7>
        <h6>Mod skæl </h6>
      </div>
      </div>
      <div class="genopfyldning_div">
        <div class="done_div">
          <img src="../images/done.svg" alt="" />   
        </div>
        <div class="text_div">
        <h7>Conditioner 1 – </h7>
        <h6>Til fint hår</h6>
      </div>
      </div>
      <div class="genopfyldning_div">
        <div class="done_div">
          <img src="../images/done.svg" alt="" />   
        </div>
        <div class="text_div">
        <h7>Conditioner 2 –  </h7>
        <h6>Dybtvirkende</h6>
      </div>
      </div>
    </div>
  </div>
  <div id="hvadkosterdet">
    <h3>Hvad koster det?</h3>
  </div>
  <div>
  <div id="koster1">
    <div class="pris1">
      <h6>Shampoo</h6>
      <h7>300 ml</h7>
      <h5>159 dkk</h5>
    </div>
    <div class="pris1">
      <h6>Shampoo</h6>
      <h7>1000 ml</h7>
      <h5>359 dkk</h5>
    </div>
  </div>
  <div id="koster2">
    <div class="pris1">
      <h6>Conditioner</h6>
      <h7>300 ml</h7>
      <h5>169 dkk</h5>
    </div>
    <div class="pris1">
      <h6>Conditioner</h6>
      <h7>1000 ml</h7>
      <h5>379 dkk</h5>
    </div>
  </div>
  <div id="hvor_div">
    <h3>Hvor kan jeg genopfylde?</h3>
  </div>
  <div id="hvor_carddiv">
  <div class="hvor_card">
      <h7>Frederiksberg Centeret Apotek</h7>
      <h6>Falkoner Alle 21, 2 sal
      </h6>
        <h6> 2000 Frederiksberg</h6>
  </div>
  <div class="hvor_card">
    <h7>Apoteket Trianglen</h7>
    <h6>Nordre Frihavnsgade 3
     </h6>
      <h6> 2100
        København Ø</h6>
</div>
<div class="hvor_card">
  <h7>Østerbro Apotek</h7>
  <h6>Østerbrogade 105, Østerbrogade 101
   </h6>
    <h6> 2100
      København Ø</h6>
</div>
<div class="hvor_card">
  <h7>Amagerbro Apotek </h7>
  <h6>Reberbanegade 3
  </h6>
    <h6> 2300 København S</h6>
</div>
<div class="hvor_card">
  <h7>Waterfront Apotek </h7>
  <h6>Philip Heymans Alle 17, st. 1
   </h6>
    <h6> 2900 Hellerup</h6>
</div>
<div class="hvor_card">
  <h7>Kvægtorvets Apotek
  </h7>
  <h6>Kvægtorvet 8
   </h6>
    <h6> 4700
      Næstved</h6>
</div>
</div>
</div>
<div id="howto_div">
  <h3>Sådan bruger du Purely Refillery </h3>
</div>
<Footer/>
	</body>
</html>

<style>

  /* generel */
body{
  background-color: var(--lightOcean);
}
h6{
  color: var(--darkBrown);
  font-family: "Open Sans";
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0.09em;
}

h7{
  font-family: Open Sans;
font-size: 16px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0.09em;
text-align: left;
color: var(--darkBrown);
}

.text_div h6 {
  color: var(--lightSand);
}
.text_div h7 {
  color: var(--purelyWhite);
}
/* hvad er  */
  #hvader{
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 65px;
    margin-right: 15px;
    margin-left: 15px;
  }

  #plast img{
    height: 390px;
    width: 390px;
    margin-top: 3em;
  }

  /* hvad kan jeg genopfylde */
  #genopfyldning{
    background-color: var(--darkSand) ;
    width: 330px;
    height: 444px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding-top: 30px;
  }

  #hvor{
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 65px;
    margin-right: 30px;
    margin-left: 30px;
  }
.done_div img {
  height: 16px;
    width: 19px;
}
.done_div{
  height: 31px;
    width: 32px;
    background-color: var(--lightSand);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.genopfyldning_div{
  display: flex;
    gap: 37px;
    margin-left: 27px;
    align-items: center;
}

#hvadkanjeg h3 {
  margin-left: -15px;
}


  /* hvad koster det */
#hvadkosterdet{
margin-top: 65px; 
 margin-bottom: 38px;
  margin-left: 15px;
}
  #koster1{
    width: 390px;
    height: 221px;
    background-color: var(--mediumSand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    gap: 1em;
    padding-top: 14px;
    padding-left: 12.65px;
    margin-bottom: 8px;
  }
  #koster2{
    width: 390px;
    height: 221px;
    background-color: var(--darkSand);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    gap: 1em;
    padding-top: 14px;
    padding-left: 12.65px;
  }

  .pris1{
    width: 174.97px;
    height: 193px;
    background-color: var(--lightSand);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }


  /* hvor kan jeg genopfylde */
  .hvor_card{
    height: 117px;
    width: 303px;
    background-color: var(--purelyWhite);
    opacity: 70%;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    padding-right: 8px;
    padding-top:19px;
    gap: 9px;
    margin-left: 15px;
    display: inline-block;
    position:relative;
  
  }
#hvor_div{
  margin-top: 65px;
  margin-left: 15px;
  margin-bottom: 38px
}
#hvor_carddiv{
    overflow-x: scroll;
    gap: 22px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
}


/* Sådan bruger du det */
#howto_div{
  margin-top: 65px;
  margin-left: 15px;
  margin-right: 15px;
}

  /* Mobile first */

  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
    #hvader{
      margin-left: 15%;
      margin-right: 15%;
      

    }
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
  }

  @media (min-width: 1200px) {
  }
</style>
