---
import "../styles/style.css";
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="../svgfiles/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <title>Refilleries</title>
  </head>
  <body>
    <div id="loader">
      <div class="loader-container">
        <lottie-player
          src="https://assets10.lottiefiles.com/packages/lf20_isjnfriv.json"
          background="transparent"
          speed="1"
          style="width: 300px; height: 300px;"
          loop
          autoplay></lottie-player>
      </div>
    </div>
    <div id="content" class="hidden">
      <Header />
      <Hero
        img="../images/hero/refill.webp"
        tekst="Med Purely Refillery kan du udnytte dine brugte emballagers fulde potentiale og genfylde dine tomme emballager."
        navn="Refilleries"
      />
      <div id="storediv">
        <div id="hvader">
          <h3>Hvad er det?</h3>
          <p>
            Refillery er et tilbud til dig, der gerne vil vise vores omverden
            lidt mere omtanke. Plastik er et fantastisk materiale, der kan holde
            rigtigt længe, og det vil vi gerne udnytte ved at tilbyde
            genfyldning af vores shampoo og conditioners.
          </p>
        </div>
        <div id="plast">
          <img src="../images/genbrugsplast-scaled-1.webp" alt="" />
        </div>
      </div>
      <div id="hvadkanjeg">
        <h3>Hvad kan jeg genopylde?</h3>
      </div>
      <div id="hvor">
        <div>
          <img
            src="../images/genfyld-dine-produkter.webp"
            alt=""
            id="genopfyldimg"
          />
        </div>

        <div id="genopfyldning">
          <div class="genopfyldning_div">
            <div class="done_div">
              <img src="../images/done.svg" alt="" />
            </div>
            <div class="text_div">
              <h7>Shampoo 0 –</h7>
              <h6>Til krøllet hår</h6>
            </div>
          </div>
          <div class="genopfyldning_div">
            <div class="done_div">
              <img src="../images/done.svg" alt="" />
            </div>
            <div class="text_div">
              <h7>Shampoo 1 –</h7>
              <h6>til fint og normalt hår</h6>
            </div>
          </div>
          <div class="genopfyldning_div">
            <div class="done_div">
              <img src="../images/done.svg" alt="" />
            </div>
            <div class="text_div">
              <h7>Shampoo 2 –</h7>
              <h6>Dybtrensende</h6>
            </div>
          </div>
          <div class="genopfyldning_div">
            <div class="done_div">
              <img src="../images/done.svg" alt="" />
            </div>
            <div class="text_div">
              <h7>Shampoo 4 –</h7>
              <h6>Mod skæl</h6>
            </div>
          </div>
          <div class="genopfyldning_div">
            <div class="done_div">
              <img src="../images/done.svg" alt="" />
            </div>
            <div class="text_div">
              <h7>Conditioner 1 –</h7>
              <h6>Til fint hår</h6>
            </div>
          </div>
          <div class="genopfyldning_div">
            <div class="done_div">
              <img src="../images/done.svg" alt="" />
            </div>
            <div class="text_div">
              <h7>Conditioner 2 –</h7>
              <h6>Dybtvirkende</h6>
            </div>
          </div>
        </div>
      </div>
      <div id="hvadkosterdet">
        <h3>Hvad koster det?</h3>
        <hr />
      </div>
      <div id="produkt">
        <div id="koster1">
          <div class="pris1">
            <h6>Shampoo</h6>
            <h7>300 ml</h7>
            <h5>159 dkk</h5>
          </div>
          <div class="pris1">
            <h6>Shampoo</h6>
            <h7>1000 ml</h7>
            <h5>359 dkk</h5>
          </div>
        </div>
        <div id="koster2">
          <div class="pris1">
            <h6>Conditioner</h6>
            <h7>300 ml</h7>
            <h5>169 dkk</h5>
          </div>
          <div class="pris1">
            <h6>Conditioner</h6>
            <h7>1000 ml</h7>
            <h5>379 dkk</h5>
          </div>
        </div>
        <hr id="hrunder" />
      </div>
      <div id="hvor_div">
        <h3>Hvor kan jeg genopfylde?</h3>
      </div>
      <div id="opfyldningsmuligheder">
        <div class="opfyldmulig">
          <h4>Hudpleje</h4>
          <img src="../svgfiles/hud.svg" alt="" />
        </div>
        <div class="opfyldmulig">
          <h4>Hårpleje</h4>
          <img src="../svgfiles/haar.svg" alt="" />
        </div>
        <div class="opfyldmulig">
          <h4>Refillery</h4>
          <img src="../svgfiles/refill.svg" alt="" />
        </div>
      </div>
      <div id="hvor_carddiv">
        <div class="hvor_card">
          <div class="hvor_tekst">
            <h7>Frederiksberg Centeret Apotek</h7>
            <h6>Falkoner Alle 21, 2 sal</h6>
            <h6>2000 Frederiksberg</h6>
          </div>
          <div class="hvor_img">
            <img src="../svgfiles/hud.svg" alt="" />
            <img src="../svgfiles/haar.svg" alt="" />
            <img src="../svgfiles/refill.svg" alt="" />
          </div>
        </div>
        <div class="hvor_card">
          <div class="hvor_tekst">
            <h7>Apoteket Trianglen</h7>
            <h6>Nordre Frihavnsgade 3</h6>
            <h6>2100 København Ø</h6>
          </div>
          <div class="hvor_img">
            <img src="../svgfiles/hud.svg" alt="" />
            <img src="../svgfiles/haar.svg" alt="" />
            <img src="../svgfiles/refill.svg" alt="" />
          </div>
        </div>
        <div class="hvor_card">
          <div class="hvor_tekst">
            <h7>Østerbro Apotek</h7>
            <h6>Østerbrogade 105, Østerbrogade 101</h6>
            <h6>2100 København Ø</h6>
          </div>
          <div class="hvor_img">
            <img src="../svgfiles/hud.svg" alt="" />
            <img src="../svgfiles/haar.svg" alt="" />
            <img src="../svgfiles/refill.svg" alt="" />
          </div>
        </div>
        <div class="hvor_card">
          <div class="hvor_tekst">
            <h7>Amagerbro Apotek</h7>
            <h6>Reberbanegade 3</h6>
            <h6>2300 København S</h6>
          </div>
          <div class="hvor_img">
            <img src="../svgfiles/haar.svg" alt="" />
            <img src="../svgfiles/refill.svg" alt="" />
          </div>
        </div>
        <div class="hvor_card">
          <div class="hvor_tekst">
            <h7>Waterfront Apotek</h7>
            <h6>Philip Heymans Alle 17, st. 1</h6>
            <h6>2900 Hellerup</h6>
          </div>
          <div class="hvor_img">
            <img src="../svgfiles/haar.svg" alt="" />
            <img src="../svgfiles/refill.svg" alt="" />
          </div>
        </div>
        <div class="hvor_card">
          <div class="hvor_tekst">
            <h7>Kvægtorvets Apotek</h7>
            <h6>Kvægtorvet 8</h6>
            <h6>4700 Næstved</h6>
          </div>
          <div class="hvor_img">
            <img src="../svgfiles/haar.svg" alt="" />
            <img src="../svgfiles/refill.svg" alt="" />
          </div>
        </div>
        <div class="hvor_card">
          <div class="hvor_tekst">
            <h7>Raa</h7>
            <h6>Badstuegade 17, st. th.</h6>
            <h6>8000 Aarhus</h6>
          </div>
          <div class="hvor_img">
            <img src="../svgfiles/refill.svg" alt="" />
          </div>
        </div>
      </div>

      <Footer />
    </div>
  </body>
</html>

<style>
  /* generel */
  .hidden {
    display: none;
  }

  #loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(backgroundBeige);
    z-index: 9999;
  }

  .loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  body {
    background-color: var(--lightOcean);
    overflow: scroll;
  }
  h6 {
    color: var(--darkBrown);
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.09em;
  }

  h7 {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.09em;
    text-align: left;
    color: var(--darkBrown);
  }

  .text_div h6 {
    color: var(--lightSand);
  }
  .text_div h7 {
    color: var(--purelyWhite);
  }
  hr {
    background-color: var(--purelyWhite);
    border: none;
    height: 2px;
  }

  /* Mobile first */
  @media (min-width: 300px) {
    /* hvad er  */
    #hvader {
      display: flex;
      flex-direction: column;
      gap: 3em;
      margin-top: 65px;
      margin-right: 15px;
    }

    #plast img {
      height: 300px;
      width: 300px;
      margin-top: 3em;
    }

    /* hvad kan jeg genopfylde */
    #genopfyldning {
      background-color: var(--darkSand);
      width: max-content;
      height: max-content;
      border-radius: 5px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      flex-direction: column;
      gap: 26px;
      padding: 20px;
    }

    #hvor {
      display: flex;
      flex-direction: column;
      gap: 3em;
      margin-top: 30px;
      margin-right: 30px;
      margin-left: 30px;
      justify-content: center;
      align-items: center;
    }
    .done_div img {
      height: 16px;
      width: 19px;
    }
    .done_div {
      height: 31px;
      width: 32px;
      background-color: var(--lightSand);
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    .genopfyldning_div {
      display: flex;
      gap: 37px;
      margin-left: 27px;
      align-items: center;
    }

    #hvadkanjeg h3 {
      margin-left: 15px;
      margin-top: 38px;
    }
    #genopfyldimg {
      display: none;
    }

    #storediv {
      margin-left: 15px;
    }

    /* hvad koster det */

    #produkt {
      display: grid;
      grid-template-rows: 1fr 1fr;
      place-content: center;
      justify-content: center;
    }
    #hvadkosterdet {
      margin-top: 65px;
      margin-bottom: 38px;
      margin-left: 15px;
    }
    #koster1 {
      width: 380px;
      height: 235px;
      background-color: var(--mediumSand);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      gap: 1em;
      display: flex;
      padding: 20px 20px 20px 20px;
      margin: 15px;
      margin-bottom: 8px;
    }
    #koster2 {
      width: 380px;
      height: 235px;
      display: flex;
      background-color: var(--darkSand);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      gap: 1em;
      padding: 20px 20px 20px 20px;
      margin: 15px;
      margin-bottom: 50px;
    }

    .pris1 {
      width: 174.97px;
      height: 193px;
      background-color: var(--lightSand);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .hvor_img {
      width: 70px;
    }
    /* hvor kan jeg genopfylde */
    .hvor_card {
      height: 180px;
      width: 350px;
      background-color: var(--purelyWhite);
      opacity: 70%;
      border-radius: 5px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      flex-direction: column;
      justify-content: center;
      padding-left: 15px;
      padding-right: 8px;
      /* padding-top:19px; */
      gap: 9px;
      margin-left: 15px;
      display: inline-block;
      position: relative;
      display: flex;
      flex-direction: row;
    }

    .hvor_card img {
      margin-top: 5%;
    }

    .hvor_tekst {
      padding-top: 19px;
    }
    #hvor_div {
      margin-top: 65px;
      margin-left: 15px;
      margin-bottom: 40px;
    }
    #hvor_carddiv {
      overflow-x: scroll;
      gap: 22px;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      margin-bottom: 40px;
    }
    #opfyldningsmuligheder {
      display: flex;
      flex-direction: row;
      margin-bottom: 30px;
      gap: 50px;
      margin-left: 15px;
    }

    #hrunder {
      width: 350px;
    }
    /* Sådan bruger du det */
    #howto_div {
      margin-top: 65px;
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  /* tablet format (over 600px)*/
  @media (min-width: 700px) {
    #plast img {
      height: 400px;
      width: 400px;
      margin-top: 3em;
    }
    #hvader {
      margin-right: 30%;
    }
    #storediv {
      margin-left: 30px;
    }

    #hrunder {
      width: 430px;
    }

    /* Hvad kan jeg genopfylde */
    #hvor {
      display: flex;
      flex-direction: column;
      gap: 3em;
      margin-top: 20px;
      align-items: center;
    }
    #hvor_div {
      margin-top: 30px;
      margin-left: 30px;
      margin-bottom: 38px;
    }
    #opfyldningsmuligheder {
      display: flex;
      flex-direction: row;
      margin-bottom: 40px;
      gap: 50px;
      margin-left: 30px;
    }

    /* hvad koster det */

    #produkt {
      display: grid;
      grid-template-rows: 1fr 1fr;
      place-content: center;
      justify-content: center;
    }
    #hvadkosterdet {
      margin-top: 65px;
      margin-bottom: 38px;
      margin-left: 15px;
    }
    #koster1 {
      width: 420px;
      height: 235px;
    }
    #koster2 {
      width: 420px;
      height: 235px;
    }

    /* hvor */

    #hvor_carddiv {
      overflow-x: scroll;
      gap: 22px;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      margin-bottom: 60px;
      margin-left: 15px;
    }
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
    /* hvad er det */

    #plast img {
      height: 400px;
      width: 400px;
      margin-top: 3em;
    }
    #storediv {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-left: 30px;
    }
    /* hvor kan man opfylde */
    #hvor {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    #genopfyldning {
      margin-top: 30%;
    }
    #hvadkanjeg h3 {
      margin-left: 30px;
    }
    /* hvad koster det */
    #koster1 {
      width: 500px;
      height: 300px;
      background-color: var(--mediumSand);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      gap: 1em;
      padding-top: 0;
      padding-left: 0;
      margin-bottom: 0;
      margin-left: 30px;
      justify-content: center;
      align-items: center;
    }
    .pris1 {
      width: 200px;
      height: 250px;
      background-color: var(--lightSand);
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    #koster2 {
      width: 500px;
      height: 300px;
      background-color: var(--darkSand);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      display: flex;
      gap: 1em;
      padding-top: 0;
      padding-left: 0;
      margin-top: 23px;
      margin-left: 270px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    #hvadkosterdet {
      margin-top: 40px;
      margin-left: 15px;
    }
    #opfyldningsmuligheder {
      display: flex;
      flex-direction: row;
      margin-bottom: 40px;
      gap: 118px;
      margin-left: 30px;
    }
    #genopfyldimg {
      width: 450px;
      height: 550px;
      display: grid;
    }
    #genopfyldning {
      position: absolute;
      top: 880px;
      left: 480px;
    }
    .opfyldmulig {
      display: flex;
      align-items: center;
    }
    #hvor_carddiv {
      overflow-x: scroll;
      gap: 22px;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      margin-left: 30px;
    }
    .hvor_card {
      height: 170px;
      width: 400px;
      background-color: var(--purelyWhite);
      opacity: 70%;
      border-radius: 5px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      flex-direction: column;
      justify-content: center;
      padding-left: 15px;
      padding-right: 30px;
      padding-top: 0px;
      gap: 9px;
      display: inline-block;
      position: relative;
      display: flex;
      margin-left: 0;
      flex-direction: row;
      justify-content: space-around;
    }
    #hvor_div {
      margin-top: 65px;
      margin-left: 15px;
      margin-bottom: 38px;
    }
    .hvor_img {
      width: 60px;
    }
    .hvor_tekst {
      padding-top: 15px;
    }
  }

  @media (min-width: 1100px) {
    /* hvad er det */
    #plast img {
      height: 450px;
      width: 450px;
      margin-top: 3em;
      margin-left: 10%;
    }
    #storediv {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-content: center;
    }

    #storediv p,
    h3 {
      margin-left: 5%;
      width: 450px;
    }

    #storediv h3 {
      margin-top: 10%;
    }

    /* hvor kan man opfylde */
    #hvor {
      display: grid;
      grid-template-columns: 1fr 1fr;
      justify-content: space-evenly;
    }

    #genopfyldning {
      margin-top: 26%;
      margin-left: 10%;
    }

    #genopfyldimg {
      margin-top: 5%;
      margin-left: 20%;
      margin-bottom: 5%;
    }
    #hvadkanjeg h3 {
      margin-left: 5%;
      margin-top: 5%;
    }
    /* hvad koster det */

    #hvadkosterdet {
      margin-top: 40px;
      margin-left: 5%;
    }
    #opfyldningsmuligheder {
      display: flex;
      flex-direction: row;
      margin-bottom: 40px;
      gap: 118px;
      margin-left: 5%;
    }
    .opfyldmulig {
      display: flex;
      align-items: center;
    }
    #hvor_carddiv {
      overflow-x: scroll;
      gap: 22px;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      margin-left: 5%;
    }
    .hvor_card {
      margin-left: 5%;
    }
    #hvor_div {
      margin-top: 65px;
      margin-left: 5%;
      margin-bottom: 38px;
    }
    .hvor_img {
      width: 60px;
    }
    .hvor_tekst {
      padding-top: 15px;
    }
  }

  @media (min-width: 1300px) {
    /* hvad er det */
    #plast img {
      height: 550px;
      width: 550px;
      margin-top: 3em;
      margin-left: 10%;
    }
    #storediv {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-content: center;
    }

    #storediv p,
    h3 {
      margin-left: 5%;
      width: 600px;
    }

    #storediv h3 {
      margin-top: 15%;
    }

    /* hvor kan man opfylde */
    #hvor {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    #genopfyldimg {
      width: 550px;
      height: 650px;
    }
    #genopfyldning {
      margin-left: 30%;
      margin-top: 37%;
      width: 25%;
      height: 55%;
    }
    #hvadkanjeg h3 {
      margin-top: 5%;
    }
    /* hvad koster det */

    #hvadkosterdet {
      margin-top: 40px;
    }
    #opfyldningsmuligheder {
      display: flex;
      flex-direction: row;
      margin-bottom: 40px;
      gap: 118px;
      margin-left: 5%;
    }
    .opfyldmulig {
      display: flex;
      align-items: center;
    }
    #hvor_carddiv {
      overflow-x: scroll;
      gap: 22px;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }

    #hvor_div {
      margin-top: 65px;
      margin-bottom: 38px;
    }
    .hvor_img {
      width: 60px;
    }
    .hvor_tekst {
      padding-top: 15px;
    }
  }
</style>

<script>
  console.log("hej");
  window.addEventListener("load", function () {
    // Skjul loader og vis innholdet på siden
    document.getElementById("loader").style.display = "none";
    document.getElementById("content").classList.remove("hidden");
  });
</script>
