---
import "../styles/style.css";
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Inspiration from "../components/Inspiration.astro";
import Miljo from "../components/Miljo.astro";
import Indholdsstoffer from "../components/Indholdsstoffer.astro";
import Haarpleje from "../components/Haarpleje.astro";
import Hudpleje from "../components/Hudpleje.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="../svgfiles/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <script
      src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"
    ></script>
    <meta name="generator" content={Astro.generator} />
    <title>Vidensbank</title>
  </head>
  <body>
    <div id="loader">
      <div class="loader-container">
        <lottie-player
          src="https://assets10.lottiefiles.com/packages/lf20_isjnfriv.json"
          background="transparent"
          speed="1"
          style="width: 300px; height: 300px;"
          loop
          autoplay></lottie-player>
      </div>
    </div>
    <div id="content" class="hidden">
      <Header />
      <Hero
        img="../images/AfterlightImage-88-2048x2048.webp"
        tekst="Vores vidensbank er et univers, hvor du kan dykke ned i detaljerne om vores produkter, ingredienser samt finde guides og meget mere."
        navn="PURELY VIDENSBANK"
      />
      <div id="divudenomdiv">
        <div id="navigation_vidensbank">
          <button class="vidensbank_button">Indholdsstoffer</button>
          <button class="vidensbank_button">Purely og miljø</button>
          <button class="vidensbank_button">Guides</button>
          <button class="vidensbank_button">Inspiration</button>
        </div>
      </div>
      <Indholdsstoffer />
      <Miljo />
      <Haarpleje />
      <Hudpleje />
      <Inspiration />
      <Footer />
    </div>
  </body>

  <style>
    .hidden {
      display: none;
    }

    #loader {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(backgroundBeige);
      z-index: 9999;
    }

    .loader-container {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    body {
      background-color: var(--lightSand);
    }

    /* navigation */
    .vidensbank_button {
      width: 323px;
      height: 59px;
      background-color: var(--darkSand);
      color: var(--purelyWhite);
      font-size: 20px;
      font-family: "Open Sans";
      font-weight: 600;
      line-height: 27px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      border-color: transparent;
    }
    #navigation_vidensbank {
      display: flex;
      flex-direction: column;
      gap: 33px;
      align-items: center;
      padding-top: 47px;
      padding-bottom: 47px;
    }

    /* tablet format (over 600px)*/
    @media (min-width: 600px) {
    }

    /* desktop format (over 900px)*/
    @media (min-width: 900px) {
      #navigation_vidensbank {
        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: max-content;
        padding: 60px 0;
      }
      #divudenomdiv {
        display: flex;
        justify-content: center;
      }
      .vidensbank_button {
        width: 400px;
        height: 70px;
        background-color: var(--darkSand);
        color: var(--purelyWhite);
        font-size: 20px;
        font-family: "Open Sans";
        font-weight: 600;
        line-height: 27px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border-color: transparent;
      }
    }

    @media (min-width: 1200px) {
      /* navigation  */
      #navigation_vidensbank {
        padding-top: 115px;
        padding-bottom: 119px;
      }
      .vidensbank_button {
        width: 500px;
        height: 90px;
      }
    }
    .vidensbank_button:hover {
      background-color: var(--mediumOcean);
      cursor: pointer;
    }
  </style>

  <script>
    console.log("hej");
    window.addEventListener("load", function () {
      // Skjul loader og vis innholdet på siden
      document.getElementById("loader").style.display = "none";
      document.getElementById("content").classList.remove("hidden");
    });
  </script>
</html>
