---
import "../styles/style.css";
import Hero from "../components/Hero.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Inspiration from "../components/Inspiration.astro";
import Miljo from "../components/Miljo.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Vidensbank</title>
  </head>
  <body>
    <Header />
    <Hero img="../images/AfterlightImage-88-2048x2048.webp" tekst="Vores vidensbank er et univers, hvor du kan dykke ned i detaljerne om vores produkter, ingredienser samt finde guides og meget mere" navn="PURELY VIDENSBANK" />

    <div id="divudenomdiv">
      <div id="navigation_vidensbank">
        <button class="vidensbank_button">Indholdsstoffer</button>
        <button class="vidensbank_button">Purely og miljø</button>
        <button class="vidensbank_button">Guides</button>
        <button class="vidensbank_button">Inspiration</button>
      </div>
    </div>
    <div id="indholdsstoffer_div">
      <div id="indhold_storediv">
        <div id="leksikon_div">
          <h2>Indholdsstoffer</h2>
          <div>
            <p><strong>N</strong>ysgerrig på vores ingredienser?</p>
            <p>Læs mere om dem på vores <strong> leksikon</strong></p>
          </div>
          <div class="link">
            <div class="link-tekst" id="pil1">
              <a href="#">Leksikon</a>
              <img src="../svgfiles/pil.svg" alt="" class="pil" />
            </div>
          </div>
        </div>
        <div id="leksikon_billede"></div>
      </div>

      <div id="citat_storediv">
        <div id="citat">
          <h3>”Hvis jeres produkter er så rene, hvorfor har I så ikke nogen mærker på?”</h3>
          <div class="link">
            <div class="link-tekst">
              <a href="#">Få svar her</a>
              <img src="../svgfiles/pil.svg" alt="" class="pil" />
            </div>
          </div>
        </div>
        <div>
          <img src="../images/210319_PurelyProfessional-22018.webp" alt="" id="babyhaender" />
        </div>
      </div>
    </div>
    <div id="miljo_storediv">
      <Miljo />
      <div id="denhele">
        <div id="finhaertype">
          <h2>Find din hårpleje til din hårtype</h2>
          <div id="haertypehelediv">
            <div class="haertype_div">
              <div class="haertype_billede">
                <img src="../images/210319_PurelyProfessional-22018.webp" alt="" />
              </div>
              <div class="haertype_tekst">
                <h3>Kraftigt krøllet hår</h3>
              </div>
            </div>
            <div class="haertype_div">
              <div class="haertype_billede">
                <img src="../images/210319_PurelyProfessional-22018.webp" alt="" />
              </div>
              <div class="haertype_tekst">
                <h3>Fint hår</h3>
              </div>
            </div>
            <div class="haertype_div">
              <div class="haertype_billede">
                <img src="../images/210319_PurelyProfessional-22018.webp" alt="" />
              </div>
              <div class="haertype_tekst">
                <h3>Krøller i fint hår</h3>
              </div>
            </div>

            <div class="haertype_div">
              <div class="haertype_billede">
                <img src="../images/210319_PurelyProfessional-22018.webp" alt="" />
              </div>
              <div class="haertype_tekst">
                <h3>Kraftigt hår</h3>
              </div>
            </div>

            <div class="haertype_div">
              <div class="haertype_billede">
                <img src="../images/210319_PurelyProfessional-22018.webp" alt="" />
              </div>
              <div class="haertype_tekst">
                <h3>Farvet og kemisk behandlet hår</h3>
              </div>
            </div>

            <div class="haertype_div" id="haertype_div6">
              <div class="haertype_billede">
                <img src="../images/210319_PurelyProfessional-22018.webp" alt="" />
              </div>
              <div class="haertype_tekst">
                <h3>Hovedbunds problemer og skæl</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="link">
          <div class="link-tekst">
            <a href="#">Guides til hårpleje</a>
            <img src="../svgfiles/pil.svg" alt="" class="pil" />
          </div>
        </div>
      </div>
      <div id="learomhudpleje">
        <h2>Lær om hudpleje</h2>

        <div id="denstorelear">
          <div id="learomhudpleje_div">
            <div id="learomhudplejeimg1"></div>

            <div class="link">
              <div class="link-tekst">
                <a href="#">Guides til hudpleje</a>
                <img src="../svgfiles/pil.svg" alt="" class="pil" />
              </div>
            </div>
          </div>
          <div>
            <div id="learomhudplejeimg2"></div>
            <div class="link">
              <div class="link-tekst">
                <a href="#">Guides til kropspleje</a>
                <img src="../svgfiles/pil.svg" alt="" class="pil" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <Inspiration />
    <Footer />
  </body>

  <style>
    body {
      background-color: var(--lightSand);
    }
    /* Mobile first */

    /* navigation */

    img {
      object-fit: cover;
    }
    .vidensbank_button {
      width: 323px;
      height: 59px;
      background-color: var(--darkSand);
      color: var(--purelyWhite);
      font-size: 20px;
      font-family: "Open Sans";
      font-weight: 600;
      line-height: 27px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      border-color: transparent;
    }
    #navigation_vidensbank {
      display: flex;
      flex-direction: column;
      gap: 33px;
      align-items: center;
      padding-top: 47px;
      padding-bottom: 47px;
    }
    /* Indholdsstoffer */

    #indholdsstoffer_div {
      background-color: var(--mediumOcean);
      /* margin-left: 7px; */
    }
    #leksikon_div {
      padding-top: 38px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      margin-left: 15px;
    }
    #leksikon_billede {
      height: 218px;
      width: 360px;
      background-image: url("../images/genbrugsplast-scaled-1.jpg");
      background-size: cover;
      margin-left: 15px;
      margin-right: 7px;
      margin-top: 38px;
      margin-bottom: 26px;
    }

    .link {
      align-self: flex-end;
      margin-right: 15px;
    }
    .link-tekst {
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: flex-end;
      padding: 0 2px;
      padding-bottom: 33px;
    }
    .link-tekst a {
      text-decoration: none;
      color: var(--darkBrown);
      text-decoration: underline 2px var(--purelyBlue);
      text-underline-offset: 8px;
    }
    .pil {
      width: 16px;
      rotate: -90deg;
    }
    .underline {
      border: 1.5px solid var(--purelyBlue);
      width: 100%;
      border-radius: 1.5px;
      margin-bottom: 25px;
    }

    #citat {
      width: 360px;
      padding-left: 26px;
      padding-top: 46px;
      text-align: center;
    }
    #babyhaender {
      width: 360px;
      height: 350px;
      padding-left: 23px;
      margin-top: 30px;
      margin-bottom: 26px;
    }

    /* Find din hårtype */

    #finhaertype {
      background-color: var(--mediumOcean);
      margin-top: 93px;
      /* width: 104%; */
    }
    #finhaertype h2 {
      padding-top: 33px;
    }

    .haertype_billede img {
      width: 323px;
      height: 417px;
    }
    .haertype_div {
      margin-left: 30px;
      margin-top: 42px;
      display: inline-block;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #haertype_div6 {
      margin-right: 15px;
    }
    #haertypehelediv {
      overflow-x: scroll;
      gap: 22px;
      display: grid;
      grid-template-columns: repeat(6, 2fr);
      margin-top: 42px;
      gap: 26px;
    }

    /* Lær om hudpleje */

    #learomhudpleje {
      background-color: var(--mediumSand);
      margin-top: 46px;
      /* width: 104%; */
    }
    #learomhudpleje h2 {
      padding-top: 25px;
      margin-left: 15px;
    }
    #learomhudplejeimg1 {
      width: 360px;
      height: 450px;
      background-image: url("../images/210318_purelyprofessional 2100469.JPG");
      background-size: cover;
      margin-top: 26px;
      margin-left: 7px;
      margin-bottom: 15px;
    }
    #learomhudplejeimg2 {
      width: 360px;
      height: 450px;
      background-image: url("../images/210318_PurelyProfessional_3_100865.jpg");
      background-size: cover;
      margin-top: 26px;
      margin-left: 7px;
      margin-bottom: 15px;
    }

    /* inspiration */

    #inspiration {
      background-color: var(--purelyGrey);
      overflow-x: scroll;
      display: grid;
      grid-template-columns: repeat(4, 2fr);
      margin-top: 56px;
      gap: 26px;
      margin-bottom: 56px;
    }

    .inspi_billede img {
      width: 318px;
      height: 417px;
    }

    .inspi_div {
      padding-top: 78px;
      padding-bottom: 46px;
    }
    #inspi_div1 {
      margin-left: 30px;
    }

    #inspirationscirkel_div {
      background-color: var(--darkOcean);
    }
    .inspirationcircle {
      position: absolute;
      z-index: 100;
      margin: -30px 0px 0px -29px;
      animation: spin 10s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    /* tablet format (over 600px)*/
    @media (min-width: 600px) {
      #indholdsstoffer_div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    /* desktop format (over 900px)*/
    @media (min-width: 900px) {
      /* #navigation_vidensbank {
        display: flex;
        gap: 33px;
        padding-top: 47px;
        padding-bottom: 47px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
      } */

      #navigation_vidensbank {
        display: flex;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: max-content;
        padding: 60px 0;
      }
      #divudenomdiv {
        display: flex;
        justify-content: center;
      }
      .vidensbank_button {
        width: 400px;
        height: 70px;
        background-color: var(--darkSand);
        color: var(--purelyWhite);
        font-size: 20px;
        font-family: "Open Sans";
        font-weight: 600;
        line-height: 27px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        border-color: transparent;
      }
      /* Inholdsstoffer */
      #indhold_storediv {
        display: flex;
        gap: 49px;
        justify-content: center;
        padding-top: 100px;
      }
      #citat_storediv {
        display: flex;
        flex-direction: row-reverse;
        /* margin-right: 140px; */
        gap: 80px;
        align-items: center;
        justify-content: center;
      }
      #pil1 {
        margin-top: 100px;
        text-decoration: none;
      }
      .link-tekst a {
        text-decoration: transparent;
      }
      .link-tekst:hover {
        text-decoration: underline 2px var(--purelyBlue);
        text-underline-offset: 8px;
        transition: transform 0.25s ease-out;
      }
      #pil1:hover {
        text-decoration: underline 2px var(--purelyBlue);
        text-underline-offset: 8px;
        transition: transform 0.25s ease-out;
      }

      #leksikon_billede {
        height: 400px;
        width: 460px;
        background-image: url(../images/genbrugsplast-scaled-1.jpg);
        background-size: cover;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 90px;
      }
      .link-tekst {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
        padding: 0 2px;
        padding-bottom: 33px;
        padding-right: 10px;
      }
      #babyhaender {
        width: 450px;
        height: 460px;
        padding-left: 0;
        margin-top: 30px;
        margin-bottom: 26px;
        margin-top: 0;
      }
      #citat {
        width: 360px;
        /* padding-left: 26px; */
        padding-top: 46px;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 200px;
        margin-right: 40px;
      }

      #citat {
        width: 360px;
        /* padding-top: 46px; */
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 100px;
        margin-right: 40px;
      }

      /* Find din hårtype */
      #finhaertype {
        background-color: var(--mediumOcean);
        margin-top: 110px;
      }

      /* .haertype_billede{
    width: 230px;
    height: 317px;

} */
      #denstorelear {
        display: flex;
        justify-content: space-around;
      }
      #learomhudpleje h2 {
        padding-top: 25px;
        margin-left: 50px;
      }
    }

    @media (min-width: 1200px) {
      /* navigation  */
      #navigation_vidensbank {
        padding-top: 115px;
        padding-bottom: 119px;
      }
      .vidensbank_button {
        width: 500px;
        height: 90px;
      }
      /* leksikon */
      #leksikon_billede {
        height: 400px;
        width: 600px;
        background-image: url(../images/genbrugsplast-scaled-1.jpg);
        background-size: cover;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 90px;
      }

      #babyhaender {
        width: 600px;
        height: 431px;
        padding-left: 0;
        margin-top: 30px;
        margin-bottom: 112px;
        margin-top: 0;
        object-fit: cover;
      }

      /* find hårtype */
      #finhaertype {
        display: flex;
      }

      #denhele {
        background-color: var(--mediumOcean);
      }
      /* lær om hudpleje  */
      #denstorelear {
        display: flex;
        justify-content: space-evenly;
        margin-top: 101px;
      }
      #learomhudplejeimg1 {
        width: 482px;
        height: 536px;
        background-image: url(../images/210318_purelyprofessional\ 2100469.JPG);
        background-size: cover;
        margin-top: 26px;
        margin-left: 7px;
        margin-bottom: 15px;
      }
      #learomhudplejeimg2 {
        width: 482px;
        height: 536px;
        background-image: url(../images/210318_PurelyProfessional_3_100865.jpg);
        background-size: cover;
        margin-top: 26px;
        margin-left: 7px;
        margin-bottom: 15px;
      }
      #learomhudpleje h2 {
        padding-top: 75px;
        margin-left: 85px;
      }
      .link-tekst {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: flex-end;
        padding: 0 2px;
        padding-bottom: 75px;
        padding-right: 10px;
      }

      /* inspiration */
      #inspiration {
        background-color: var(--purelyGrey);
        overflow-x: scroll;
        margin-top: 56px;
        gap: 33px;
        display: flex;
        margin-bottom: 56px;
        justify-content: space-evenly;
        margin-top: 81px;
      }
    }
    .vidensbank_button:hover {
      background-color: var(--mediumOcean);
      cursor: pointer;
    }
  </style>
</html>
