---
import "../styles/style.css";
---

<section class="bestseller-card">
  <div class="container">
    <div class="img-wrapper">
      <img
        src="../../images/shampoo/shampoo_0_haand.webp"
        alt=""
        class="product-img"
      />
      <img
        src="../../images/shampoo/shampoo_0_produktbillede.webp"
        alt=""
        class="hover-img"
      />
      <div class="overlay">
        <p>Til krøllet hår</p>
        <img src="../../svgfiles/krollet.svg" alt="hårtype" />
      </div>
    </div>
  </div>
  <h4 class="h4-bestseller">Shampoo 0</h4>
  <h5 class="h5-bestseller">179 kr.</h5>
  <button class="knap">Føj til kurv</button>
</section>
<section class="bestseller-card">
  <div class="container">
    <div class="img-wrapper">
      <img
        src="../../images/shampoo/shampoo_1_haand.webp"
        alt=""
        class="product-img"
      />
      <img
        src="../../images/shampoo/shampoo_1_produktbillede.webp"
        alt=""
        class="hover-img"
      />
      <div class="overlay">
        <p>Til fint hår</p>
        <img src="../../svgfiles/fint.svg" alt="hårtype" />
      </div>
    </div>
  </div>
  <h4 class="h4-bestseller">Shampoo 1</h4>
  <h5 class="h5-bestseller">179 kr.</h5>
  <button class="knap">Føj til kurv</button>
</section>
<section class="bestseller-card">
  <div class="container">
    <div class="img-wrapper">
      <img
        src="../../images/shampoo/Bayby_shampoo_hand.webp"
        alt=""
        class="product-img"
      />
      <img
        src="../../images/shampoo/baby_shampoo_produktbillede.webp"
        alt=""
        class="hover-img"
      />
      <div class="overlay">
        <p>Til småbørn</p>
      </div>
    </div>
  </div>
  <h4 class="h4-bestseller">Baby Shampoo</h4>
  <h5 class="h5-bestseller">99 kr.</h5>
  <button class="knap">Føj til kurv</button>
</section>
<section class="bestseller-card">
  <div class="container">
    <div class="img-wrapper">
      <img
        src="../../images/shampoo/shampoo_4_haand.webp"
        alt=""
        class="product-img"
      />
      <img
        src="../../images/shampoo/shampoo_4_produktbillede.webp"
        alt=""
        class="hover-img"
      />
      <div class="overlay">
        <p>Mod skæl</p>
        <img src="../../svgfiles/skael.svg" alt="hårtype" />
      </div>
    </div>
  </div>
  <h4 class="h4-bestseller">Shampoo 4</h4>
  <h5 class="h5-bestseller">179 kr.</h5>
  <button class="knap">Føj til kurv</button>
</section>

<style>
  /* mobileview */
  .bestseller-card,
  .product-img,
  .hover-img,
  .img-wrapper {
    width: 280px;
  }
  .product-img,
  .hover-img,
  .img-wrapper {
    height: 320px;
  }

  .bestseller-card {
    background-color: var(--purelyWhiteSeeThrough);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .product-img,
  .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    transition: opacity 0.3s ease;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid var(--purelyWhiteSeeThrough);
  }

  .h4-bestseller {
    margin: 12px 0px 4px 5px;
  }

  .h5-bestseller {
    margin: 2px 0px 5px 5px;
  }

  /* Tekst oven på produktbillede */
  .container {
    position: relative;
  }

  .img-wrapper {
    position: relative;
    display: inline-block;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: 10px;
    align-items: flex-end;
    justify-content: right;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s ease;
    padding: 10px;
  }
  .overlay p {
    color: var(--purelyWhite);
  }

  /* Hover billede skifter */
  .hover-img {
    opacity: 0;
  }
  .img-wrapper:hover .product-img {
    opacity: 0;
  }

  .img-wrapper:hover .hover-img {
    opacity: 1;
  }

  .img-wrapper:hover .overlay {
    opacity: 0;
  }

  .knap {
    background-color: var(--darkSand);
    border: none;
    color: var(--purelyWhite);
    padding: 6px;
    font-weight: 400;
    font-family: "Open Sans";
    border-radius: 5px;
    margin-left: 7px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: 95%;
    cursor: pointer;
  }

  @media (min-width: 500px) {
    .bestseller-card,
    .product-img,
    .hover-img,
    .img-wrapper {
      width: 323px;
    }
    .product-img,
    .hover-img,
    .img-wrapper {
      height: 417px;
    }
  }
  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
  }

  @media (min-width: 1200px) {
    .knap {
      font-size: 20px;
    }
  }
</style>
