---
import "../styles/style.css";
---

<footer id="footer">
  <div id="grid">
    <div class="kontakt">
      <h5 class="h5-footer">Kontakt os</h5>
      <p class="adresse">Tlf.: 4440 4668</p>
      <p class="adresse">
        Malmøgade 2 kld. th <br />
        2100 København Ø
      </p>

      <div class="some-links">
        <a href="https://www.instagram.com/purelyprofessional/" target="_blank"
          ><img
            src="../svgfiles/instagram-logo-hvid.svg"
            alt="Instagram link"
            class="some-logo"
          /></a
        >
        <a
          href="https://www.facebook.com/PurelyProfessionalDK/?locale=da_DK"
          target="_blank"
          ><img
            src="../svgfiles/facebook-logo-hvid.svg"
            alt="Facebook link"
            class="some-logo"
          /></a
        >
        <a href="mailto:kundeservice@purelyprofessional.dk" target="_blank"
          ><img
            src="../svgfiles/mail-logo-hvid.svg"
            alt="Mail link"
            class="some-logo"
          /></a
        >
      </div>
    </div>
    <br />
    <div class="betaling">
      <h5 class="h5-footer">Betalingsmuligheder</h5>
      <div class="betalingsmuligheder">
        <img src="../images/applepay.webp" alt="" class="betal-logo" />
        <img src="../images/dankortlogo.webp" alt="" class="betal-logo" />
        <img src="../images/visalogo.webp" alt="" class="betal-logo" />
        <img src="../images/mastercardlogo.webp" alt="" class="betal-logo" />
      </div>
    </div>
    <br />
    <div class="levering">
      <h5 class="h5-footer">Levering</h5>
      <p class="adresse">
        LEVERING FRA 29 DKK MED GLS FRI FRAGT TIL PAKKESHOP VED KØB OVER 600 DKK
      </p>
    </div>
  </div>

  <ul class="navigation">
    <li><a href="produkt">Shop</a></li>
    <li><a href="purelypromise">The Purely Promise</a></li>
    <li><a href="refilleries">Refilleries</a></li>
    <li><a href="om">Om Purely</a></li>
    <li><a href="vidensbank">Vidensbank</a></li>
  </ul>
  <p class="copyright">@2023 Purely Professional</p>
</footer>

<style>
  /* mobileview */
  #footer {
    height: fit-content;
    background-color: var(--darkSand);
    padding: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .kontakt,
  .betaling,
  .levering {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .some-links {
    display: flex;
    gap: 28px;
    align-items: center;
  }
  .some-logo {
    width: 40px;
  }

  .h5-footer {
    color: var(--purelyWhite);
  }

  .adresse {
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: var(--purelyWhite);
    max-width: 300px;
  }

  .betalingsmuligheder {
    background-color: var(--lightSand);
    border-radius: 28px;
    height: 60px;
    width: 310px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
  }

  .betal-logo {
    width: 55px;
  }

  .navigation {
    height: 83px;
    width: 100vw;
    background-color: var(--lightSand);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  li {
    list-style: none;
    padding: 8px 19px;
    text-decoration: underline;
  }

  a {
    color: var(--darkBrown);
  }

  .copyright {
    color: var(--purelyWhite);
    width: 100vw;
    text-align: center;
    font-size: 15px;
    margin-bottom: -10%;
  }

  /* Media queries */
  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
    .copyright {
      margin-bottom: -5%;
    }
  }

  /* desktop format (over 900px)*/
  @media (min-width: 800px) {
    #footer {
      padding: 20px;
      align-items: left;
    }
    #grid {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: left;
      gap: 30px;
      margin-top: 20px;
      text-align: left;
    }
    h5 {
      text-align: left;
    }
    .adresse {
      text-align: left;
      max-width: 200px;
    }

    .kontakt {
      text-align: left;
      align-items: left;
      text-align: left;
    }
    .betaling {
      text-align: center;
      align-items: center;
      text-align: left;
    }

    .levering {
      text-align: right;
      align-items: right;
      text-align: left;
    }

    .copyright {
      margin-bottom: 0%;
    }
  }

  @media (min-width: 1200px) {
    #grid {
      gap: 100px;
    }

    h5 {
      font-size: 20px;
    }

    .adresse {
      font-size: 15px;
      line-height: 1.2em;
      max-width: 300px;
    }

    .navigation {
      font-size: 20px;
      gap: 6em;
    }

    .copyright {
      font-size: 15px;
    }
  }
</style>
