---
import "../styles/style.css";
---

<header id="header">
  <nav id="nav">
    <div id="logo">
      <a href="/"><img src="../svgfiles/purely-logo-white.svg" alt="logo" /></a>
    </div>
    <div class="burger-menu">
      <div class="burger"></div>
      <div class="burger"></div>
      <div class="burger"></div>
    </div>
    <div class="menu">
      <ul id="shop-container">
        <li id="shop">
          <p>Shop</p>
          <img src="../svgfiles/pil-white.svg" alt="" class="hvid-pil" />
        </li>
        <div class="shop-kat hide">
          <a href="../produkt" class="underline-effect">Shampoo</a>
          <a href="../produkt" class="underline-effect">hårpleje</a>
          <a href="../produkt" class="underline-effect">styling</a>
          <a href="../produkt" class="underline-effect">ansigtspleje</a>
          <a href="../produkt" class="underline-effect">kropspleje</a>
          <a href="../produkt" class="underline-effect">plejesæt</a>
          <a href="../produkt" class="underline-effect">tilbehør</a>
          <a href="../produkt" class="underline-effect">testere</a>
        </div>
      </ul>

      <li>
        <a href="../purelypromise" class="underline-effect"
          >The Purely Promise</a
        >
      </li>
      <li><a href="../refilleries" class="underline-effect">Refilleries</a></li>
      <li><a href="../om" class="underline-effect">Om Purely</a></li>
      <li><a href="../vidensbank" class="underline-effect">Vidensbank</a></li>
      <div id="socials">
        <a href="#"
          ><img src="../svgfiles/instagram-logo.svg" alt="Instagram logo" /></a
        >
        <a href="#"
          ><img src="../svgfiles/facebook-logo.svg" alt="Facebook logo" /></a
        >
        <a href="#"><img src="../svgfiles/mail-logo.svg" alt="Mail logo" /></a>
      </div>
    </div>
    <div id="icons">
      <img src="../svgfiles/soegefelt.svg" alt="søgefelt" id="soeg" />
      <img src="../svgfiles/kurv.svg" alt="kurv" />
    </div>
  </nav>
</header>

<style>
  /* mobileview */

  #header {
    background-color: var(--darkSand);
    padding: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }

  .hvid-pil {
    height: 14px;
    margin-left: 10px;
  }
  #socials {
    display: flex;
    gap: 28px;
    align-items: center;
    margin-top: 30px;
  }

  #socials img {
    width: 40px;
  }

  #logo img {
    height: 48px;
    vertical-align: middle;
  }

  .burger-menu {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
  }

  .underline-effect {
    display: inline-block;
    position: relative;
  }

  .underline-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: var(--purelyWhite);
    transition: width 0.5s ease-out;
  }

  .underline-effect:hover::before {
    width: 100%;
    left: 0;
    right: auto;
  }
  .menu li {
    list-style: none;
  }

  #icons {
    display: none;
  }

  li a,
  li p {
    margin: 10px 0;
  }

  a,
  li p {
    font-size: 1.8rem;
    color: var(--purelyWhite);
    font-family: Open Sans, sans-serif;
    font-weight: 400;
    cursor: pointer;
  }

  /* Burger menu */

  .burger-menu {
    position: absolute;
    top: 35px;
    right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }

  .burger {
    width: 100%;
    height: 3px;
    background-color: var(--purelyWhite);
    transition: transform 0.3s;
  }
  .burger-menu.active .burger:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .burger-menu.active .burger:nth-child(2) {
    opacity: 0;
  }

  .burger-menu.active .burger:nth-child(3) {
    transform: translateY(-12.5px) rotate(-45deg);
  }
  .menu {
    display: none;
  }
  .menu.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    width: 100%;
    z-index: 9999;
    background-color: var(--darkSand);
    position: sticky;
    height: 100vh;
    margin-top: 20px;
  }

  ul {
    text-align: center;
  }
  /* shop kategproier menu åben */
  #shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #shop {
    display: flex;
    align-items: baseline;
  }

  #shop:hover {
    opacity: 80%;
  }
  .shop-kat {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 5px 0 20px;
  }
  .shop-kat a {
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 20px;
    color: var(--darkBrown);
    text-transform: uppercase;
    text-decoration: underline;
  }
  .shop-kat a:hover {
    color: var(--purelyWhite);
  }
  .hide {
    display: none;
  }

  .rotate {
    transform: rotate(180deg);
    transition: 0.5s ease;
  }

  /* Media queries */
  /* tablet format (over 600px)*/
  @media (min-width: 800px) {
    .hvid-pil {
      margin-left: 5px;
      height: 9px;
    }
    #header {
      background-color: transparent;
      transition: background-color 0.8s ease;
    }

    #nav {
      display: flex;
      align-items: center;
    }
    #icons img {
      max-height: 20px;
    }

    #logo {
      margin-right: auto;
    }

    .burger-menu {
      display: none;
    }

    #socials {
      display: none;
    }

    .menu {
      display: flex;
      justify-content: flex-end;
      position: relative;
    }

    .menu li {
      display: inline-block;
      margin-left: 10px;
      margin-right: 20px;
    }

    a,
    li p {
      font-size: 15px;
      color: var(--purelyWhite);
      font-family: Open Sans, sans-serif;
    }

    li a {
      margin-left: 10px;
      margin-top: 0;
      margin-bottom: 0;
    }

    #icons {
      display: block;
    }
    /* shop kategproier menu åben */
    #shop-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .shop-kat {
      background-color: var(--darkSand);
      position: absolute;
      top: calc(100% + 20px);
      width: 300px;
      padding: 0 20px 20px 20px;
    }
    .shop-kat a {
      font-size: 13px;
    }
    .shop-kat a:hover {
      color: var(--purelyWhite);
    }
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
    .menu li {
      margin-right: 30px;
    }

    a,
    li p {
      font-size: 16px;
    }

    #logo img {
      height: 52px;
    }

    #icons img {
      max-height: 22px;
      margin-left: 5px;
    }
  }

  @media (min-width: 1000px) {
    a {
      font-size: 18px;
    }
  }
  @media (min-width: 1200px) {
    .hvid-pil {
      height: 10px;
    }
    #icons img {
      max-height: 24px;
      margin-left: 10px;
    }

    #logo img {
      height: 60px;
    }
    a,
    li p {
      font-size: 20px;
    }

    .menu li {
      margin-right: 40px;
    }
  }

  @media (min-width: 1500px) {
    a {
      font-size: 22px;
    }
  }
</style>

<script>
  const header = document.getElementById("header");
  const burgerMenu = document.querySelector(".burger-menu");
  const menu = document.querySelector(".menu");
  const shopKnap = document.getElementById("shop");
  const openKategori = document.querySelector(".shop-kat");
  const hvidPil = document.querySelector(".hvid-pil");

  burgerMenu.addEventListener("click", function () {
    burgerMenu.classList.toggle("active");
    menu.classList.toggle("active");
  });

  shopKnap.addEventListener("click", function () {
    openKategori.classList.toggle("hide");
    hvidPil.classList.toggle("rotate");
    if (window.innerWidth > 800) {
      header.style.backgroundColor = "var(--darkSand)";
    }
  });

  // menu.addEventListener("click", function () {
  //   burgerMenu.classList.remove("active");
  //   menu.classList.remove("active");
  // });

  window.addEventListener("scroll", function () {
    // Tjek om skærmstørrelsen er over 800px
    if (window.innerWidth > 800) {
      // Tjek om der er scrollet ned
      if (window.scrollY > 0) {
        // Hvis der er scrollet ned, tilføj baggrundsfarven til header
        header.style.backgroundColor = "var(--darkSand)";
      } else {
        header.style.backgroundColor = "transparent";
      }
    } else {
      header.style.backgroundColor = "var(--darkSand)"; // Konstant baggrundsfarve under 800px
    }
  });
</script>
