---
import "../styles/style.css";
---
<header>
<section id="header"></section>
</header>

<style>
  /* mobileview */

  /* Media queries */
  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
  }

  @media (min-width: 1200px) {
  }
</style>
