---
import "../styles/style.css";
---

<section id="hero-index">
  <img src="../images/billede 17.04.2023 13.36.13.JPG" alt="" />
</section>

<style>
  /* mobileview */
  #hero-index {
    height: fit-content;
    width: 100vw;
  }

  img {
    width: 100vw;
    height: 610px;
    object-fit: cover;
  }
  /* Media queries */
  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
  }

  @media (min-width: 1200px) {
  }
</style>
