---
import "../styles/style.css";
---

<section id="hero-index">
  <img src="../images/billede 17.04.2023 13.36.13.webp" alt="" />
</section>

<style>
  /* mobileview */
  #hero-index {
    height: fit-content;
    width: 100vw;
  }

  img {
    width: 100vw;
    height: 610px;
    object-fit: cover;
  }
  /* Media queries */
  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
    #hero-index {
      width: 100vw;
      height: 500px;
      background-image: url("../images/hero/hero-index-kopi.webp");
      object-fit: cover;
    }

    #hero-index img {
      display: none;
    }
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
    #hero-index {
      width: 100vw;
      height: 600px;
      background-image: url("../images/hero/hero-index-kopi.webp");
      object-fit: cover;
    }

    #hero-index img {
      display: none;
    }
  }

  @media (min-width: 1200px) {
  }
</style>
