---
import "../styles/style.css";
---

<section id="hero-index">
  <img
    src="../images/billede 17.04.2023 13.36.13.webp"
    alt=""
    id="img-mobile"
  />
  <img src="../images/img_8894.webp" alt="" id="img-desktop" />
</section>

<style>
  /* mobileview */
  #hero-index {
    width: 100%;
    height: 507px;
    position: relative;
  }

  #hero-index::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(147, 165, 161, 0.6);
    z-index: 1;
  }

  img {
    width: 100%;
    height: 507px;
    object-fit: cover;
  }

  #img-desktop {
    display: none;
  }
  /* Media queries */
  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
    #img-mobile {
      display: none;
    }
    #img-desktop {
      display: block;
    }
  }

  @media (min-width: 1200px) {
    #hero-index {
      height: 70vh;
    }

    img {
      height: 70vh;
    }
  }
</style>
