---
import "../styles/style.css";
const { img, navn, tekst } = Astro.props;
---

<section id="hero">
  <img src={img} alt="" class="hero-img" />
  <div class="tekst">
    <h1>{navn}</h1>
    <h4>{tekst}</h4>
  </div>
</section>

<style>
  /* mobileview */
  #hero {
    width: 100%;
    height: 507px;
    display: grid;
  }

  .hero-img {
    width: 100%;
    height: 507px;
    object-fit: cover;
    grid-area: 1/1/2/2;
  }
  .tekst {
    width: 330px;
    height: 100%;
    margin-left: 15px;
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 12px;
  }
  h4 {
    color: var(--purelyWhite);
    margin-bottom: 80px;
  }
  /* Media queries */
  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
    .tekst {
      width: 530px;
      margin-left: 30px;
    }
    h4 {
      margin-bottom: 60px;
    }
  }

  @media (min-width: 1200px) {
    .tekst {
      width: 660px;
    }
    h4 {
      margin-bottom: 30px;
    }

    #hero {
      height: 70vh;
    }

    .hero-img {
      height: 70vh;
    }
  }
</style>
