---
import "../styles/style.css";
const { img, navn, tekst} = Astro.props;

---

<section id="hero">
  <img src={img} alt="" class="hero-img" />
  <div class="tekst">
    <h1>{navn}</h1>
    <h4>{tekst}</h4>
  </div>
</section>

<style>
  /* mobileview */
  #hero {
    width: 100%;
    height: 507px;
    display: grid;
  }

  .hero-img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    grid-area: 1/1/2/2;
  }
  .tekst {
    width: 330px;
    height: 100%;
    margin-left: 15px;
    grid-area: 1/1/2/2;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 240px;
  }
  h4 {
    color: var(--purelyWhite);
  }
  /* Media queries */
  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
  }

  @media (min-width: 1200px) {
  }
</style>
