---
const { brug, produktnavn, indhold } = Astro.props;
import "../styles/info.css";
---

<div class="info-box">
  <div class="info" id="ingredienser">
    <h4>Ingredienser</h4>
    <div class="kryds">
      <div class="vandret"></div>
      <div class="lodret" id="lodret-ingredienser"></div>
    </div>
  </div>

  <div class="open-menu hide" id="ingredienser-open">
    <h4>{produktnavn} indeholder (INCI)</h4>
    <div class="grid" set:html={indhold} />
    <p id="obs">
      *Vær opmærksom på, at der i sjældne tilfælde, kan forekomme mindre forskelle mellem den indholdsfortegnelse du ser her, og indholdsdeklarationen på produktet. Tag altid udgangspunkt i den deklaration der står på det fysiske produkt.
    </p>
  </div>
  <hr />

  <div class="info" id="brug">
    <h4>Brug</h4>
    <div class="kryds">
      <div class="vandret"></div>
      <div class="lodret" id="lodret-brug"></div>
    </div>
  </div>

  <div class="open-menu hide" id="brug-open">
    <p>{brug}</p>
  </div>
  <hr />

  <div class="info" id="certificering">
    <h4>Certificering</h4>
    <div class="kryds">
      <div class="vandret"></div>
      <div class="lodret" id="lodret-certificering"></div>
    </div>
  </div>

  <div class="open-menu hide" id="certificering-open">
    <div class="certificering-indhold">
      <img src="../svgfiles/kolbe.png" alt="" class="certificering-logo" />
      <img src="../svgfiles/vegan.svg" alt="" class="certificering-logo" />
      <img src="../svgfiles/cruelty-free.svg" alt="" class="certificering-logo" />
    </div>
  </div>
  <hr />

  <div class="info" id="levering">
    <h4>Levering</h4>
    <div class="kryds">
      <div class="vandret"></div>
      <div class="lodret" id="lodret-levering"></div>
    </div>
  </div>
  <div class="open-menu hide" id="levering-open">
    <div id="levering-indhold">
      <div class="flex">
        <img src="../images/delivery.webp" alt="" class="levering-img" />
        <p>Levering fra kun 29 kr. til pakkeshop</p>
      </div>
      <div class="flex">
        <img src="../images/return.webp" alt="" class="bytte-img" />
        <p>Vi bytter med et smil hvis du har fået noget forkert</p>
      </div>
    </div>
  </div>
  <hr />
</div>

<style>
  .info-box {
    background-color: var(--lightOcean);
    margin: 30px 0;
    width: 100%;
  }
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
  }
  .kryds {
    width: 18px;
    position: relative;
  }

  .vandret,
  .lodret {
    width: 100%;
    height: 2px;
    background-color: var(--darkBrown);
    position: absolute;
  }

  .lodret {
    rotate: 90deg;
    transition: transform 0.3s;
  }

  hr {
    border: 0.5px solid var(--purelyBlue);
  }

  .hide {
    display: none;
  }

  /* boks der kan åbne og lukke */
  .open-menu {
    background-color: var(--lightOcean);
    height: fit-content;
    padding: 23px 15px 38px;
    max-width: 500px;
  }

  .open-menu h4 {
    padding: 0 0 19px 0;
    font-size: 18px;
    color: var(--purelyBlue);
  }

  .open-menu p {
    font-size: 15px;
  }

  /* ingredienser */
  .open-menu .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 26px;
    padding: 19px 0;
  }

  .open-menu .grid p:nth-child(odd) {
    font-weight: 600;
    color: var(--purelyBlue);
  }

  #obs {
    font-size: 12px;
    margin: 0 15px;
  }

  /* Brug */

  /* Certificering */
  #certificering-open {
  }
  .certificering-indhold {
    display: flex;
    gap: 30px;
    max-width: 300px;
  }
  .certificering-logo {
    height: 55px;
    object-fit: cover;
  }

  /* Levering */
  #levering-indhold {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
  .open-menu .flex {
    display: flex;
    justify-content: space-between;
    width: 280px;
  }

  .open-menu .flex img {
    height: 50px;
  }
  .bytte-img {
    object-fit: cover;
    width: 65px;
  }

  .levering-img {
    padding: 0 7.5px;
  }
  .open-menu .flex p {
    width: 180px;
  }

  @media (min-width: 600px) {
  }
  @media (min-width: 800px) {
    .info {
      padding: 30px;
    }
    .open-menu {
      max-width: 500px;
      padding: 23px 15px 38px 30px;
    }
  }
  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
    .open-menu p {
      font-size: 20px;
    }
    .open-menu h4 {
      font-size: 22px;
    }
  }

  @media (min-width: 1500px) {
    .open-menu {
      max-width: 700px;
    }
    .certificering-indhold {
      max-width: fit-content;
      gap: 50px;
    }
    .certificering-logo {
      height: 100px;
    }

    .open-menu .flex img {
      height: 100px;
    }
    .bytte-img {
      object-fit: cover;
      width: 125px;
    }

    .open-menu h4 {
      font-size: 30px;
    }

    .open-menu p {
      font-size: 25px;
    }

    #obs {
      font-size: 18px;
    }
  }
</style>

<script>
  const ingredienserKnap = document.getElementById("ingredienser");
  const openIngredisenser = document.getElementById("ingredienser-open");
  const lodretIngredienser = document.getElementById("lodret-ingredienser");

  const brugKnap = document.getElementById("brug");
  const openBrug = document.getElementById("brug-open");
  const lodretBrug = document.getElementById("lodret-brug");

  const certificeringKnap = document.getElementById("certificering");
  const openCertificering = document.getElementById("certificering-open");
  const lodretCertificering = document.getElementById("lodret-certificering");

  const leveringKnap = document.getElementById("levering");
  const openLevering = document.getElementById("levering-open");
  const lodretLevering = document.getElementById("lodret-levering");

  ingredienserKnap.addEventListener("click", () => {
    openIngredisenser.classList.toggle("hide");
    lodretIngredienser.classList.toggle("hide");
  });

  brugKnap.addEventListener("click", () => {
    openBrug.classList.toggle("hide");
    lodretBrug.classList.toggle("hide");
  });
  certificeringKnap.addEventListener("click", () => {
    openCertificering.classList.toggle("hide");
    lodretCertificering.classList.toggle("hide");
  });
  leveringKnap.addEventListener("click", () => {
    openLevering.classList.toggle("hide");
    lodretLevering.classList.toggle("hide");
  });
</script>
