---
import "../styles/style.css";
---

<section id="kategorier">
  <h2>Shop via kategori</h2>
  <hr class="hr1" />
  <div class="flex-layout">
    <a href="produkt">
      <div class="kategori-cirkel">
        <img src="../images/210318_PurelyProfessional_3_100865.webp" alt="" class="kategori-img" />
        <div><p class="kategori-tekst">Hudpleje</p></div>
      </div>
    </a>
    <a href="produkt">
      <div class="kategori-cirkel">
        <img src="../images/210319_PurelyProfessional-2102444-e1666964250729.webp" alt="" class="kategori-img" />
        <div><p class="kategori-tekst">Shampoo</p></div>
      </div>
    </a>
    <a href="produkt">
      <div class="kategori-cirkel">
        <img src="../images/210318_PurelyProfessional-2100554-1-e1675419248356.webp" alt="" class="kategori-img" />
        <div><p class="kategori-tekst">Hårpleje</p></div>
      </div>
    </a>
    <a href="produkt">
      <div class="kategori-cirkel">
        <img src="../images/210318_PurelyProfessional-2100251.webp" alt="" class="kategori-img" />
        <div><p class="kategori-tekst">Ansigtspleje</p></div>
      </div>
    </a>
    <a href="produkt">
      <div class="kategori-cirkel">
        <img src="../images/210319_PurelyProfessional-2102361-e1675348761705.webp" alt="" class="kategori-img" />
        <div><p class="kategori-tekst">Styling</p></div>
      </div>
    </a>
    <a href="produkt">
      <div class="kategori-cirkel">
        <img src="../images/Toilettaske_hand_108343-e1675418310920.webp" alt="" class="kategori-img" />
        <div><p class="kategori-tekst">Tilbehør</p></div>
      </div>
    </a>
  </div>
  <hr class="hr2" />
</section>

<style>
  /* mobileview */
  #kategorier {
    padding: 65px 0 38px 0;
    background-color: var(--lightSand);
  }
  h2 {
    margin-left: 30px;
  }

  .hr1 {
    max-width: 85%;
    border: 1px solid var(--darkOcean);
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .hr2 {
    max-width: 85%;
    margin-left: 15%;
    border: 1px solid var(--darkOcean);
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .flex-layout {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 38px;
    align-items: center;
  }
  .kategori-cirkel {
    width: 345px;
    height: 345px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    display: grid;
    grid-template-columns: 1fr;
  }

  .kategori-img {
    object-fit: cover;
    width: 345px;
    height: 345px;
    border-radius: 50%;
    grid-area: 1/1/2/2;
  }
  .kategori-cirkel div {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 1/1/2/2;
  }
  .kategori-tekst {
    color: var(--purelyWhite);
    font-size: 50px;
    line-height: 68px;
    display: inline-block;
    padding-bottom: 2px;
    position: relative;
  }

  .kategori-tekst::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 3px;
    border-radius: 1.5px;
    background-color: var(--purelyWhite);
    transition: width 0.5s ease-out;
  }

  .kategori-cirkel:hover .kategori-tekst::before {
    width: 100%;
    left: 0;
    right: auto;
  }
  .kategori-cirkel:hover .kategori-img {
    opacity: 80%;
  }
  /* Media queries */
  /* tablet format (over 600px)*/
  @media (min-width: 700px) {
    .flex-layout {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 30px;
      place-items: center;
    }

    .kategori-cirkel {
      width: 300px;
      height: 300px;
    }

    .kategori-img {
      width: 300px;
      height: 300px;
    }

    .kategori-tekst {
      font-size: 45px;
    }

    .hr1 {
      max-width: 60%;
    }

    .hr2 {
      max-width: 55%;
      margin-left: 45%;
    }
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
    .flex-layout {
      margin: 30px;
    }

    .kategori-cirkel {
      width: 380px;
      height: 380px;
    }

    .kategori-img {
      width: 380px;
      height: 380px;
    }

    .kategori-tekst {
      font-size: 50px;
    }
  }

  @media (min-width: 1200px) {
    .flex-layout {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: 30px;
    }

    .kategori-cirkel {
      width: 350px;
      height: 350px;
    }

    .kategori-img {
      width: 350px;
      height: 350px;
    }

    .kategori-tekst {
      font-size: 50px;
    }
  }
</style>
