---
import "../styles/style.css";
import Raadcard from "../components/Raadcard.astro";
---

<section id="raad-og-guides">
  <h2>Råd og guides</h2>
  <div class="caurosel">
    <Raadcard />
    <Raadcard />
    <Raadcard />
    <Raadcard />
  </div>
</section>

<style>
  /* mobileview */
  #raad-og-guides {
    padding: 65px 0 38px 0;
    background-color: var(--mediumSand);
    height: 700px;
  }
  h2 {
    margin-left: 30px;
    padding-bottom: 38px;
  }
  .caurosel {
    margin-left: 15px;
    display: flex;
    gap: 18px;
    overflow-x: scroll;
  }

  /* Media queries */
  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
  }

  @media (min-width: 1200px) {
  }
</style>
