---
import "../styles/style.css";
import Raadcard from "../components/Raadcard.astro";
---

<section id="raad-card">
  <Raadcard />
</section>

<style>
  /* mobileview */

  /* Media queries */
  /* tablet format (over 600px)*/
  @media (min-width: 600px) {
  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
  }

  @media (min-width: 1200px) {
  }
</style>
