---
import Bestsellercard from "./Bestsellercard.astro";
---

<section id="bestseller">
  <a href="#">
    <h2>Se også her</h2>
    <div class="carousel">
      <Bestsellercard />
    </div>
  </a>
</section>

<style>
  /* mobileview */
  #bestseller {
    background-color: var(--lightOcean);
    height: fit-content;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }

  h2 {
    padding-top: 30px;
    margin-left: 15px;
  }
  .carousel {
    display: flex;
    gap: 22px;
    overflow-x: scroll;
    padding: 30px 0 0 30px;
  }

  @media (min-width: 1500px) {
    .carousel {
      max-width: 1500px;
      justify-content: space-around;
    }
    #bestseller {
      padding-left: calc((100vw - 1500px) / 2);
      padding-right: calc((100vw - 1500px) / 2);
    }
  }
</style>
