---
import "../styles/style.css";
---

<section id="tpp-banner">
  <div>
 
    <h5>
      &nbsp
      &nbsp
      &nbsp
      RENHED 
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      ENKELTHED 
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      FORMÅL 
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      OMTANKE
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      VIRKNING
      &nbsp
      &nbsp
      &nbsp
      - 
      &nbsp
      &nbsp
      &nbsp
      RENHED 
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      ENKELTHED 
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      FORMÅL 
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      OMTANKE
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      VIRKNING
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      RENHED 
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      ENKELTHED 
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      FORMÅL 
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      OMTANKE
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      VIRKNING
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      RENHED 
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      ENKELTHED 
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      FORMÅL 
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      OMTANKE
      &nbsp
      &nbsp
      &nbsp
      –
      &nbsp
      &nbsp
      &nbsp
      VIRKNING
      &nbsp
      &nbsp
      &nbsp
    </h5>
  </div>
</section>

<style>
    /* Media queries */

  /* mobileview */
  @media (min-width: 300px) {

  #tpp-banner{
    position: relative;
    width: 100%;
    height: 71px;
    display: flex;
    overflow: hidden;
  }
  #tpp-banner div{
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #E2E6DF;
    display: flex;
    align-items: center;
  }
  #tpp-banner div h5 {
    position: absolute;
    white-space: nowrap;
    line-height: 100vh;
    animation: animate 60s linear infinite; 
  }
}
  /* tablet format (over 600px)*/
  @media (min-width: 600px) {

  }

  /* desktop format (over 900px)*/
  @media (min-width: 900px) {
  }

  @media (min-width: 1200px) {
  }

  {
    margin:0; 
    padding 0;
  }
@keyframes animate {
  0%{
    transform: translatex(-100%);
  }
  100%{
    transform: translatex(0%);

  }
}

</style>
